{"kpi1":{
    "name": "Average_power", 
    "kpi_class": "MovingAve", 
    "kpi_file": "kpi.kpi_example",
    "data_point_num": "30",
    "data_points":
    {"x":"PFan_y",
     "y":"PCoo_y",
     "z":"PHea_y",
     "s":"PPum_y"
     }
},
"kpi2":{
    "name": "Temp_deviation", 
    "kpi_class": "Deviation", 
    "kpi_file": "kpi.kpi_example",
    "data_point_num": "1",
    "setpoint": "297",
    "data_points":
    {"x":"TRooAir_y"}
}
}