*.pyc
*.txt
!version.txt
!testcases/singlezone_commercial_hydronic/models/OU44Emulator/occ.txt
*.mat
*.log
*.err
.python-version
.idea
dymosim
dsmodel.c
examples/julia/*.csv
examples/javascript/*.csv
testcase2/doc/build/
parser/*.fmu
parser/*.mo
parser/*.json
*.c
*.exe
*.bak-mo
testcases/testcaseFRP/models/FRP/request
testcases/testcaseFRP/models/FRP/stop
*.ex_
