language: python

branches:
  only:
    - master

git:
  depth: 10

notifications:
  email: false

services:
  - docker

before_script:
  - export PYTHONPATH=$PYTHONPATH:$(pwd)

jobs:
  include:
  - dist: noble
    python: 3.9
    install: sudo apt-get update && sudo apt-get -y install podman && pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && make test_podman
  - dist: focal
    script: docker compose up -d web worker provision && sleep 10 && docker compose up test --no-deps --exit-code-from test
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && make build_jm_image && make test_parser
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && make build_jm_image && make test_data
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && make build_jm_image && make test_forecast
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && make build_jm_image && make test_kpis
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1 rdflib==6.3.2 bacpypes==0.18.7
    script: cd testing && make build_jm_image && make test_bacnet
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && make build_jm_image && make test_testcase
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && make build_jm_image && make test_testcase1
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && make build_jm_image && make test_testcase2
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && make build_jm_image && make test_testcase3
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && make build_jm_image && make test_bestest_air
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && make build_jm_image && make test_bestest_hydronic
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && make build_jm_image && make test_bestest_hydronic_heat_pump
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && make build_jm_image && make test_singlezone_commercial_hydronic
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && make build_jm_image && make test_twozone_apartment_hydronic
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && travis_wait 90 make test_multizone_office_simple_hydronic_no_compile
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && make build_jm_image && travis_wait 90 make test_multizone_office_simple_air ARG="-s test_peak_heat_day,test_typical_heat_day"
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && make build_jm_image && travis_wait 90 make test_multizone_office_simple_air ARG="-s test_peak_cool_day,test_typical_cool_day,test_mix_day"
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && make build_jm_image && travis_wait 90 make test_multizone_office_simple_air ARG="-s API"
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && make build_jm_image && travis_wait 90 make test_multizone_residential_hydronic ARG="-s test_peak_heat_day,test_shoulder"
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && make build_jm_image && travis_wait 90 make test_multizone_residential_hydronic ARG="-s test_typical_heat_day,test_summer"
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && make build_jm_image && travis_wait 90 make test_multizone_residential_hydronic ARG="-s API"
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && travis_wait 90 make test_multizone_office_complex_air_no_compile ARG="-s test_peak_heat_day,test_typical_heat_day"
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && travis_wait 90 make test_multizone_office_complex_air_no_compile ARG="-s test_peak_cool_day,test_typical_cool_day,test_mix_day"
  - dist: focal
    python: 3.9
    install: pip install --upgrade pip && pip install pandas==1.2.5 numpy==1.20.2 requests==2.25.1
    script: cd testing && travis_wait 120 make test_multizone_office_complex_air_no_compile ARG="-s API"
