{
	"kpi1": {
		"required": {
			"name": "Average_power",
			"kpi_class": "MovingAverage",
			"kpi_file": "examples.python.custom_kpi.custom_kpis_example",
			"data_points": {
				"z": "PHea_y"
			}
		},
		"optional": {
			"data_point_num": "30"
		}
	},
	"kpi2": {
		"required": {
			"name": "Temp_deviation",
			"kpi_class": "Deviation",
			"kpi_file": "examples.python.custom_kpi.custom_kpis_example",
			"data_points": {
				"x": "TRooAir_y"
			}
		},
		"optional": {
			"setpoint": "297"
		}
	}
}