@import '../variables.scss';

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  //align-self: center;
  //justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  width: 40vw;
  flex: 1;
  align-self: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.text {
  flex-grow: 10;
}

.icon {
  width: 45px;
  height: 45px;
}

.fileinput {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: $gray;
  flex-grow: 10;
  padding-bottom: 5px;
  margin-left: 10px;
}

.hidden {
  display:none;
}
