{"kpi1":{
    "name": "Average_power", 
    "kpi_class": "MovingAve", 
    "kpi_file": "kpi.kpi_example",
    "data_points":
    {"x":"PFan_y",
     "y":"PCoo_y",
     "z":"PHea_y",
     "s":"PPum_y"
     },
     "optional":
     {"data_point_num": "30"}
},
"kpi2":{
    "name": "Temp_deviation", 
    "kpi_class": "Deviation", 
    "kpi_file": "kpi.kpi_example",
    "data_points":
    {"x":"TRooAir_y"},
     "optional":
    {"setpoint": "297"}
}
}